.AboutUsIntroContainer {
    height: 100%;
    width: 100%;
}

.AboutUsIntroContainerImg img {
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.AboutUsIntroContainerOverlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.AboutUsIntroContent {
    height: auto;
    /* Change to auto to allow content to expand */
    padding: 20px;
    /* Added padding for better spacing on mobile */
}

.AboutUsIntroContent1 {
    position: absolute;
    top: 10%;
    /* Adjusted the top position */
    left: 10%;
    /* Adjusted the left position */
    right: 10%;
    /* Added right position for better mobile responsiveness */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: justify;
    /* Added text alignment */
}

.AboutUsIntroContent1 p {
    font-size: 13px;
}

.talkbubbleContainer {
    display: flex;
    flex-direction: column;
    /* Change to column for mobile layout */
    margin-top: 20px;
    /* Added margin for better spacing */
}

.talkbubble {
    width: 100%;
    /* Adjusted width to fit the mobile screen */
    padding: 10px;
    margin: 10px;
    border: dashed rgb(255, 255, 255) 1px;
    background: rgba(4, 66, 172, 0.5);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    /* Center align text in the talkbubble */
}

.talkbubble:before {
    display: none;
    /* Hide the talkbubble pointer on mobile */
}

.talkbubble p {
    font-weight: 600;
    font-size: 10px;
}

@media screen and (max-width: 500px) {
    .AboutUsIntroContent1 {
        top: 20px;
        left: 0;
        right: 0;
    }

    .AboutUsIntroContent1 p {
        font-size: 9px;
    }

    .talkbubbleContainer {
        margin-top: 10px;
    }

    .talkbubble {
        width: 80%;
        /* Adjusted width for smaller screens */
    }
}

@media screen and (max-width: 150px) {
    .AboutUsIntroContent1 {
        top: 20px;
        left: 0;
        right: 0;
    }

    .AboutUsIntroContent1 p {
        font-size: 3vw;
    }

    .talkbubbleContainer {
        margin-top: 10px;
    }

    .talkbubble {
        width: 80%;
        /* Adjusted width for smaller screens */
    }
}