.AboutUsIntroContainer {
    height: 600px !important;
    width: 100%;
}

.AboutUsIntroImg {
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 600px;
    width: 100%;
    opacity: 0.6;
}


.AboutUsIntroContent {
    height: 100%;
    padding: 20px;
}

.AboutUsIntroContent1 {
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: justify;
}

.AboutUsIntroContent1 p {
    font-size: 16px;
    font-weight: 600;
    margin: 20px
}

.talkbubbleContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.talkbubble {
    position: static;
    padding: 10px;
    margin: 10px;
    border: dashed rgb(255, 255, 255) 1px;
    background: rgba(4, 66, 172, 0.5);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.talkbubble p {
    font-weight: 600;
    font-size: 10px;
}

@media screen and (max-width:320px) {
    .AboutUsIntroContent1 p {
        font-size: 8px;
        font-weight: 300;
        margin: 20px
    }

    .AboutUsIntroContainer {
        height: 450px !important;
        width: 100%;
    }

    .AboutUsIntroImg {

        height: 450px;
        width: 100% !important;

    }

    .talkbubbleContainer {
        flex-wrap: wrap;
        align-items: center;

    }

    .talkbubble {
        min-width: 100px;
        max-width: 200px;
        height: 40px
    }

    .talkbubble p {
        font-weight: 200;
        font-size: 7px;
    }

    .AboutUsIntroContent1 {
        top: 30%;
    }
}

@media screen and (min-width:321px) and (max-width:480px) {
    .AboutUsIntroContent1 p {
        font-size: 9px;
        font-weight: 350;
    }

    .AboutUsIntroContainer {
        height: 500px !important;
        width: 100%;
    }

    .AboutUsIntroImg {
        height: 500px;
        width: 100% !important;
    }

    .talkbubbleContainer {
        flex-wrap: wrap;
        align-items: center;
    }

    .talkbubble {
        max-width: 200px;
        height: 60px
    }

    .talkbubble p {
        font-weight: 250;
        font-size: 8px;
    }

    .AboutUsIntroContent1 {
        top: 35%;
    }
}

@media screen and (min-width:481px) and (max-width:600px) {
    .AboutUsIntroContent1 p {
        font-size: 12px;
        font-weight: 400;
        padding: 20px;
    }

    .AboutUsIntroContainer {
        height: 600px !important;
    }

    .AboutUsIntroImg {
        height: 600px;
    }

    .talkbubbleContainer {
        flex-wrap: wrap;
        align-items: center;
    }

    .talkbubble {
        max-width: 250px;
        height: 70px
    }

    .talkbubble p {
        font-weight: 300;
        font-size: 9px;
    }

    .AboutUsIntroContent1 {
        top: 40%;
    }
}

@media screen and (min-width:601px) and (max-width:768px) {

    .AboutUsIntroContent1 p {
        font-size: 13px;
        font-weight: 450;
        padding: 25px;
    }

    .AboutUsIntroContainer {
        height: 600px !important;
    }

    .AboutUsIntroImg {
        height: 600px;
    }

    .talkbubbleContainer {
        flex-wrap: wrap;
        align-items: center;
    }

    .talkbubble {
        width: 300px;
        height: 70px
    }

    .talkbubble p {
        font-weight: 350;
        font-size: 10px;
    }

    .AboutUsIntroContent1 {
        top: 50%;
    }
}

@media screen and (min-width:769px) and (max-width:960px) {
    .AboutUsIntroContent1 {
        top: 50%;
    }

    .AboutUsIntroContent1 p {
        font-size: 14px;
        font-weight: 500;
        padding: 25px;
    }

    .AboutUsIntroContainer {
        height: 650px !important;
    }

    .AboutUsIntroImg {
        height: 650px;
    }

    .talkbubbleContainer {
        flex-wrap: wrap;
        align-items: center;
    }

    .talkbubble {
        width: 400px;
        height: 80px
    }

    .talkbubble p {
        font-weight: 400;
        font-size: 12px;
    }
}

@media screen and (min-width:961px) and (max-width:1024px) {
    .AboutUsIntroContent1 p {
        font-size: 16px;
        font-weight: 550;
        padding: 25px;
    }

    .talkbubble p {
        font-weight: 500;
        font-size: 13px;
    }
}

@media screen and (min-width:1025px) and (max-width:1281px) {
    .AboutUsIntroContent1 p {
        font-size: 17px;
        font-weight: 600;
        padding: 30px;
    }

    .talkbubble p {
        font-weight: 400;
        font-size: 14px;
    }
}


.honeycomb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0;
    padding: 0;
    transform: translateY(34.375px);
    position: absolute;
    margin:50px;
}

.honeycomb-cell {
    flex: 0 1 200px;
    max-width: 400px;
    height: 110px;
    margin: 40px 12.5px;
    position: relative;
    text-align: center;
    z-index: 1;
    position: relative;
    left: 0;
}

.honeycomb-cell__title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1.27em;
    transition: opacity 350ms;
}

.honeycomb-cell__subtitle {
    font-size: 10px;
}

.honeycomb-cell__title>small {
    font-weight: 300;
    margin-top: 0.25em;
}

.honeycomb-cell__image {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.honeycomb-cell::before,
.honeycomb-cell::after {
    content: "";
}

.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-cell__image {
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
}

.honeycomb-cell::before {
    background: rgb(4, 66, 172);
    transform: scale(1.055);
}

.honeycomb-cell::after {
    background: rgb(0, 1, 35);
    opacity: 0.7;
    transition: opacity 350ms;
}

.honeycomb-cell:hover .honeycomb-cell__title {
    opacity: 0;
}

.honeycomb-cell:hover::before {
    background: rgb(166, 10, 10);
}

.honeycomb-cell:hover::after {
    opacity: 0;
}

.honeycomb__placeholder {
    display: none;
    opacity: 0;
    width: 200px;
    height: 110px;
    margin: 35px 12.5px;
}

@media (max-width: 550px) {
    .honeycomb-cell {
        margin: 81.25px 25px;
    }
}

@media (min-width: 550px) and (max-width: 825px) {
    .honeycomb-cell:nth-child(3n) {
        margin-right: calc(50% - 125px);
        margin-left: calc(50% - 125px);
    }

    .honeycomb__placeholder:nth-child(3n + 5) {
        display: block;
    }
}

@media (min-width: 825px) and (max-width: 1100px) {
    .honeycomb-cell:nth-child(5n + 4) {
        margin-left: calc(50% - 275px);
    }

    .honeycomb-cell:nth-child(5n + 5) {
        margin-right: calc(50% - 275px);
    }

    .honeycomb__placeholder:nth-child(5n),
    .honeycomb__placeholder:nth-child(5n + 3) {
        display: block;
    }
}

@media (min-width: 1100px) {
    .honeycomb-cell:nth-child(7n + 5) {
        margin-left: calc(50% - 400px);
    }

    .honeycomb-cell:nth-child(7n + 7),
    .honeycomb-cell:nth-child(7n + 5):nth-last-child(2) {
        margin-right: calc(50% - 400px);
    }

    .honeycomb__placeholder:nth-child(7n + 7),
    .honeycomb__placeholder:nth-child(7n + 9),
    .honeycomb__placeholder:nth-child(7n + 11) {
        display: block;
    }
}