.connectBkgImg {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.connectContent2 p {
    font-weight: 400;
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding: 50px 100px 0px 100px;
    text-align: justify;
}

.content2Container {
    position: relative;
    top: 50px;
    margin: 0px 100px;
    height: 300px;
    background-color: rgba(0, 1, 35, 0.5);
    text-align: center;
}

.connectContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 1, 35);
}

.connectImg {
    margin: 50px;
}

.connectImg img {
    min-height: 350px;
    max-width: 500px;
}

.connectAboutUs {
    text-align: left;
    padding: 50px 30px;
}

.connectAboutUs p {
    font-weight: 100;
    font-size: 13px;
    text-align: justify;
}

.connectAboutUs h1 {
    font-weight: 400;
    font-size: 25px;
    font-family: 'Tektur', cursive;
    color: rgb(4, 66, 172);
    padding-bottom: 20px;
    text-align: left;
}

.connectLink2 {
    padding: 30px 200px 10px 200px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.connectLink2 h6 {
    font-weight: 400;
    font-size: 12px;
    text-align: justify;
}

.connectLink {
    box-sizing: border-box;
    margin: 10px;
    border-bottom: solid 1px rgb(4, 66, 172);
    padding: 5px;
    background-color: #ffffff00;
    color: #fff;
    width: 6em;
    height: 2.0em;
    border: rgb(4, 66, 172) 2px solid;
    border-radius: 5px;
    text-align: right;
    transition: all 0.6s ease;
}

.connectLink:hover {
    color: white;
    background-color: rgb(4, 66, 172);
    border-radius: 5px;
    transition: all 0.6s ease;
    cursor: pointer;
}

.arrowIcon2 {
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
}

.arrowIcon2:hover {
    transform: translateX(5px);
}


.connectbutton2 {
    position: relative;
    padding: 10px 10px;
    border-radius: 7px;
    border: 2px solid rgb(108, 0, 0);
    text-transform: uppercase;
    font-weight: 400;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    height: 40px;
    width: 120px
}

.connectbutton2:hover {
    background: rgb(108, 0, 0);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.connectbutton2:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.connectbutton2::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.connectbutton2:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

@media screen and (max-width:768px) {}


@media screen and (max-width:576px) {
    .connectContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .connectImg img {
        min-height: 100%;
        max-width: 100%;
        margin: 30px 0px;
    }

}


@media screen and (min-width:320px) and (max-width:479){
    .connectContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .connectImg img {
        min-height: 100%;
        max-width: 100%;
        padding: 10px;
    }

    .connectContent2 p {
        padding: 30px 20px 0px 20px;
        font-size: 6px;
    }

    .connectbutton2 {
        height: 20px;
        width: 50px;
        padding: 0%;
    }

    .content2Container {
        margin: 0px 40px;
        height: 500px;
    }

    .connectLink2 h6 {
        font-size: 5px;
        padding: 5px;
        font-weight: 100;
    }

    #small {
        opacity: 0;
    }

    .connectBkgImg {
        width: 100%;
        height: 300px;
    }

    .connectImg {
        margin: 0px;
    }

    .connectAboutUs {
        padding: 0px 20px 20px;
    }

    .connectAboutUs p {
        font-size: 10px;
    }

    .connectAboutUs h1 {
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 10px;
    }

    .connectLink2 {
        padding: 10px;
    }
}

@media screen and (max-width:480px) {

    .connectContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .connectImg img {
        min-height: 100%;
        max-width: 100%;
        padding: 10px;
    }

    .connectContent2 p {
        padding: 40px 30px 0px 30px;
        font-size: 8px;
    }

    .connectbutton2 {
        height: 30px;
        width: 65px;
        padding: 0%;
    }

    .content2Container {
        margin: 0px 40px;
        height: 250px;
    }

    .connectLink2 h6 {
        font-size: 7px;
        padding: 5px;
        font-weight: 100;
    }

    #small {
        opacity: 0;
    }

    .connectBkgImg {
        width: 100%;
        height: 350px;
    }

    .connectImg {
        margin: 0px;
    }

    .connectAboutUs {
        padding: 0px 25px 25px;
    }

    .connectAboutUs p {
        font-size: 12px;
    }

    .connectAboutUs h1 {
        font-weight: 300;
        font-size: 25px;
        padding-bottom: 15px;
    }

    .connectLink2 {
        padding: 20px;
    }

}