.IntroContainer {
    height: 550px;
}

.mainHeading {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 40px;
    background-image: linear-gradient(to top, rgb(0, 49, 132) 0%, rgb(0, 0, 28) 100%);
}

.mainHeading__content {
    max-width: 1110px;
    height: 600px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin:0
}

.mainHeading__text {
    z-index: 1;
    color: #637498;
    background-color: rgba(25, 27, 135, 0.5);
    padding: 50px;
    margin-top: 100px;
    width: 65%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    animation: text 0.8s 0.6s ease backwards;
    position: absolute;
    top: 0px
}

.mainHeading__text:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    animation: line 0.8s 0.6s ease backwards;
}

@keyframes line {
    0% {
        right: 0;
        width: 100%;
        opacity: 0;
    }
}

@keyframes text {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
}

.mainHeading__preTitle {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 16px;
    color: #637498;
    font-family: 'Tektur', cursive;
    font-size: 20px;
}

.mainHeading__title {
    text-transform: uppercase;
    font-weight: 500px;
    letter-spacing: 2px;
    margin-bottom: 24px;
    color: white;
    font-size: 32px;
    font-family: 'Fira Sans', sans-serif;
}

.mainHeading__description {
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 26px;
}

.mainHeading__image {
    right: 0;
    max-width: 600px;
    width: 500px;
    height: 450px;
    transform: translatey(100px);
    position: absolute;
    overflow: hidden;
    animation: image 0.6s 0.2s ease backwards;
    position: absolute;
    top: -100px
}

@keyframes image {
    0% {
        opacity: 0;
        transform: translatey(200px);
    }
}

.mainHeading__image:before,
.mainHeading__image:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    top: 100%;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    opacity: 1;
    left: 0;
}

.mainHeading__image:before {
    animation: imageBefore 1s 0.2s ease backwards;
}

@keyframes imageBefore {
    0% {
        height: 100%;
        top: 0;
    }
}

.mainHeading__image:after {
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    height: 100%;
    top: 0;
    opacity: 0.2;
}

.mainHeading__image img {
    width: 100%;
    height: 100%;
}

.cta {
    padding: 16px 32px;
    color: #637498;
    background-color: transparent;
    border: 1px solid rgba(99, 116, 152, 0.4);
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 32px;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px rgba(99, 116, 152, 0.2);
    transition: all 0.4s ease;
}

.cta:hover {
    border: 1px solid rgba(99, 116, 152, 0.1);
    box-shadow: inset 0px -80px 0px rgba(99, 116, 152, 0.1);
    transform: translateY(-5px);
}

@media screen and (max-width:320px) {

    .mainHeading {
        height: 60%;
    }

    .mainHeading__image {
        height: 35%;
        width: 95%;
        right: -6%;
        top: -5%;
    }

    .mainHeading__text {
        z-index: 1;
        color: #637498;
        background-color: rgba(25, 27, 135, 0.5);
        padding: 50px;
        width: 80%;
        height: 150px;
        left: -20px;
    }

    .mainHeading__preTitle {
        letter-spacing: 0px;
        color: white;
        font-size: 11px;
        font-family: 'Tektur', cursive;
        text-transform: uppercase;
        font-weight: 400px;
        color: #637498;
        font-weight: 200;
        width: 100px;

    }

    #first {
        top: -50%;
        left: -35px;
        position: relative
    }

    #second {
        left: -20px;
    }

    #third {
        top: -50%;
        left: -10px;
        position: relative;
        font-size: 9px;
    }

    .mainHeading__title {
        color: white;
        font-size: 15px;
        font-family: 'Fira Sans', sans-serif;
        text-transform: uppercase;
        font-weight: 400px;
        top: -50%;
        left: -50%;
        position: relative
    }
}

@media screen and (min-width:321px) and (max-width:400px) {
    .mainHeading {
        height: 60%;
    }

    .mainHeading__image {
        height: 35%;
        width: 90%;
        right: -6%;
        top: -5%;
    }

    .mainHeading__text {
        z-index: 1;
        color: #637498;
        background-color: rgba(25, 27, 135, 0.5);
        padding: 50px;
        width: 75%;
        height: 150px;
        left: -20px;
    }

    .mainHeading__preTitle {
        letter-spacing: 0px;
        color: white;
        font-size: 12px;
        font-family: 'Tektur', cursive;
        text-transform: uppercase;
        font-weight: 300px;
        color: #637498;
        font-weight: 300;
        width: 100px;
    }

    #first {
        top: -50%;
        left: -35px;
        position: relative
    }

    #second {
        left: -20px;
    }

    #third {
        top: -50%;
        left: -10px;
        position: relative;
        font-size: 9px;

    }

    .mainHeading__title {
        color: white;
        font-size: 17px;
        font-family: 'Fira Sans', sans-serif;
        text-transform: uppercase;
        font-weight: 500px;
        top: -50%;
        left: -50%;
        position: relative
    }
}

@media screen and (min-width:401px) and (max-width:480px) {
    .mainHeading {
        height: 60%;
    }

    .mainHeading__image {
        height: 35%;
        width: 80%;
        right: -6%;
        top: -5%;
    }

    .mainHeading__text {
        z-index: 1;
        color: #637498;
        background-color: rgba(25, 27, 135, 0.5);
        padding: 50px;
        width: 65%;
        height: 150px;
        left: -20px;
    }

    .mainHeading__preTitle {
        letter-spacing: 0px;
        color: white;
        font-size: 12px;
        font-family: 'Tektur', cursive;
        text-transform: uppercase;
        font-weight: 400px;
        color: #637498;
        font-weight: 200;
        width: 100px;
    }

    #first {
        top: -50%;
        left: -35px;
        position: relative
    }

    #second {
        left: -20px;
    }

    #third {
        top: -50%;
        left: -10px;
        position: relative;
        font-size: 9px;

    }

    .mainHeading__title {
        color: white;
        font-size: 17px;
        font-family: 'Fira Sans', sans-serif;
        text-transform: uppercase;
        font-weight: 600px;
        top: -50%;
        left: -50%;
        position: relative
    }
}

@media screen and (min-width:481px) and (max-width:600px) {
    .mainHeading {
        height: 76%;
    }

    .mainHeading__image {
        height: 45%;
        width: 70%;
        right: -6%;
        top: -5%;
        margin: 0 40px
    }

    .mainHeading__text {
        z-index: 1;
        color: #637498;
        background-color: rgba(25, 27, 135, 0.5);
        padding: 50px;
        width: 65%;
        height: 200px;
        left: -20px;
        margin: 100px 30px
    }

    .mainHeading__preTitle {
        letter-spacing: 0px;
        color: white;
        font-size: 15px;
        font-family: 'Tektur', cursive;
        text-transform: uppercase;
        font-weight: 500px;
        color: #637498;
        font-weight: 200;
        width: 100px;
    }

    #first {
        top: -20%;
        left: -15px;
        position: relative
    }

    #second {
        left: 10px;
    }

    #third {
        top: -20%;
        left: 20px;
        position: relative;
        font-size: 12px;
    }

    .mainHeading__title {
        color: white;
        font-size: 20px;
        font-family: 'Fira Sans', sans-serif;
        text-transform: uppercase;
        font-weight: 600px;
        top: -20%;
        left: -50%;
        position: relative
    }
}

@media screen and (min-width:601px) and (max-width:768px) {
    .mainHeading {
        height: 80%;
    }

    .mainHeading__image {
        height: 55%;
        width: 70%;
        right: -6%;
        top: -5%;
        margin: 0 40px
    }

    .mainHeading__text {
        z-index: 1;
        color: #637498;
        background-color: rgba(25, 27, 135, 0.5);
        padding: 50px;
        width: 65%;
        height: 250px;
        left: -20px;
        margin: 100px 30px
    }

    .mainHeading__preTitle {
        letter-spacing: 0px;
        color: white;
        font-size: 18px;
        font-family: 'Tektur', cursive;
        text-transform: uppercase;
        font-weight: 500px;
        color: #637498;
        font-weight: 200;
        width: 150px;
    }

    #first {
        top: 0;
        left: -10px;
        position: relative
    }

    #second {
        left: 20px;
        top: 0;
    }

    #third {
        top: 0;
        left: 30px;
        position: relative;
        font-size: 15px;
    }

    .mainHeading__title {
        color: white;
        font-size: 30px;
        font-family: 'Fira Sans', sans-serif;
        text-transform: uppercase;
        font-weight: 700px;
        top: -20%;
        left: -50%;
        position: relative
    }
}

@media screen and (min-width:769px) and (max-width:960px) {
    .mainHeading {
        height: 120%;
    }

    .mainHeading__image {
        height: 75%;
        width: 70%;
        right: -6%;
        top: -5%;
        margin: 0px 50px 50px 0px
    }

    .mainHeading__text {
        z-index: 1;
        color: #637498;
        background-color: rgba(25, 27, 135, 0.5);
        padding: 50px;
        width: 65%;
        height: 350px;
        left: -20px;
        margin: 120px 30px;
    }

    .mainHeading__preTitle {
        letter-spacing: 0px;
        color: white;
        font-size: 25px;
        font-family: 'Tektur', cursive;
        text-transform: uppercase;
        font-weight: 600px;
        color: #637498;
        font-weight: 500;
        width: 200px;
    }

    #first {
        top: 10%;
        left: 20px;
        position: relative
    }

    #second {
        left: 40px;
        top: 10%;
    }

    #third {
        top: 15%;
        left: 50px;
        position: relative;
        font-size: 20px;
    }

    .mainHeading__title {
        color: #ffffff;
        font-size: 40px;
        font-family: 'Fira Sans', sans-serif;
        text-transform: uppercase;
        font-weight: 800px;
        top: -20%;
        left: -50%;
        position: relative
    }
}

@media screen and (min-width:962px) and (max-width:1024px) {
    .mainHeading {
        height: 1000px;
    }

    .mainHeading__image {
        height: 90%;
        width: 75%;
        right: -6%;
        top: -5%;
        margin: 0px 50px 50px 0px
    }

    .mainHeading__text {
        z-index: 1;
        color: #637498;
        background-color: rgba(25, 27, 135, 0.5);
        padding: 50px;
        width: 65%;
        height: 400px;
        left: -20px;
        margin: 150px 30px;
    }

    .mainHeading__preTitle {
        letter-spacing: 0px;
        color: white;
        font-size: 27px;
        font-family: 'Tektur', cursive;
        text-transform: uppercase;
        font-weight: 600px;
        color: #637498;
        font-weight: 600;
        width: 200px;
    }

    #first {
        top: 10%;
        left: 20px;
        position: relative
    }

    #second {
        left: 40px;
        top: 10%;
    }

    #third {
        top: 15%;
        left: 50px;
        position: relative;
        font-size: 23px;
    }

    .mainHeading__title {
        color: #ffffff;
        font-size: 45px;
        font-family: 'Fira Sans', sans-serif;
        text-transform: uppercase;
        font-weight: 900px;
        top: -20%;
        left: -50%;
        position: relative
    }
}

@media screen and (min-width:1025px) and (max-width:1281px) {
    .IntroContainer {
        height: 650px;
    }

    .mainHeading__image {
        height: 100%;
        width: 75%;
        right: -6%;
        margin: 0px 50px 50px 0px
    }

    .mainHeading__text {
        z-index: 1;
        color: #637498;
        background-color: rgba(25, 27, 135, 0.5);
        padding: 80px 70px;
        width: 65%;
        height: 400px;
        left: -30px;
        margin: 150px 30px;
    }

    .mainHeading__title {
        color: #ffffff;
        font-size: 40px;
        font-family: 'Fira Sans', sans-serif;
        text-transform: uppercase;
        font-weight: 900px;
        top: 0%;
      
        position: relative
    }

    .mainHeading__preTitle {
        letter-spacing: 0px;
        color: white;
        font-size: 30px;
        font-family: 'Tektur', cursive;
        text-transform: uppercase;
        font-weight: 600px;
        color: #637498;
        font-weight: 600;
        width: 200px;
    }
}