.publicationsContainer {
    position: relative;
    top: 100px;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.timeline{
    margin: 20px;
}

.publicationsImage img {
    position: sticky;
    width: 100%;
    height: 120px;
}

.PublicationsContent {
    position: relative;
    width: 100%;
    margin: 10px
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: auto;
    background: white;
}

.timeline ul li::before {
    opacity: 0;
    margin: 0;
}

.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    z-index: 2;
    background: white;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    height: 100px;
    padding: 5px;
    background: rgb(4, 66, 172);
    box-shadow: 4px 13px 30px 1px rgba(4, 66, 172, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.timeline ul li div time {
    position: absolute;
    background: rgb(108, 0, 0);
    width: 80px;
    height: 30px;
    top: -20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.timeline ul li div div {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
    margin: 10px
}

.discovery p {
    text-align: center;
    color: black;
    font-weight: 900;
    font-size: 12px;
}

.scientist p {
    text-align: center;
    color: black;
    font-size: 8px;
}

.timeline ul li div .discovery {
    margin-right: 10px;
}

.timeline ul li:nth-of-type(odd)>div {
    left: 45px;
}

.timeline ul li:nth-of-type(even)>div {
    left:  -48vw;;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-of-type(odd) div {
    transform: translate3d(0px, -10px, 0) rotate(10deg)
}

.timeline ul li:nth-of-type(even) div {
    transform: translate3d(0px, -10px, 0) rotate(10deg);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 600px) {

    .timeline ul li {
        margin-left: 10px;
    }

    .timeline ul li div {
        width: calc(100vw - 91px);
    }

    .timeline ul li:nth-of-type(even)>div {
        left: 45px;
    }
}

@media screen and (max-width:320px) {

    .publicationsImage img {
        height: 70px;
    }

    .timeline ul li {
        width: 4px;
        height: 150px;
    }

    .timeline ul li div time {
        width: 60px;
        height: 20px;
    }

    .timeline ul li::after {
        width: 15px;
        height: 15px;
    }

    .discovery p {
        font-weight: 500;
        font-size: 10px;
    }

    .scientist p {
        font-weight: 300;
        font-size: 6px;
    }

    .timeline ul li div div {
        width: 200px;
        height: 100px;
        padding: 10px;
    }

    .timeline ul li div {
        height: 120px;
        padding: 5px;
    }
}

@media screen and (min-width:321px) and (max-width:480px) {

    .publicationsImage img {
        height: 90px;
    }

    .timeline ul li {
        width: 4px;
        height: 130px;
    }

    .timeline ul li div time {

        width: 60px;
        height: 20px;
    }

    .timeline ul li::after {
        width: 15px;
        height: 15px;
    }

    .discovery p {

        font-weight: 500;
        font-size: 10px;
    }

    .scientist p {
        font-weight: 300;
        font-size: 6px;
    }

    .timeline ul li div div {
        height: 80px;
        padding: 5px;
    }

    .timeline ul li {
        margin-left: 0px;
    }

    .timeline ul li div {
        height: 100px;
        padding: 10px;
    }
}

@media screen and (min-width:481px) and (max-width:600px) {

    .publicationsImage img {
        height: 120px;
    }

    .timeline ul li {
        width: 4px;
        height: 150px;
    }

    .timeline ul li div time {
        width: 80px;
        height: 20px;
    }

    .timeline ul li::after {
        width: 15px;
        height: 15px;
    }

    .discovery p {

        font-weight: 500;
        font-size: 12px;
    }

    .scientist p {
        font-weight: 300;
        font-size: 8px;
    }

    .timeline ul li div div {
        height: 100px;
        padding: 5px;
        margin: 10px
    }

    .timeline ul li {
        margin-left: 0px;
    }

    .timeline ul li div {
        height: 120px;
    }

}

@media screen and (min-width:601px) and (max-width:680px) {
    .timeline ul li div time {
            top: -15px;
            justify-content: center;
        }
    
        .timeline ul li {
            height: 200px;
        }
    
        .timeline ul li div {
            width: calc(100vw - 400px);
            height: 150px;
            flex-direction: column;
        }
    
        .timeline ul li div div {
            width: calc(100vw - 450px);
            height: 120px;
            margin: 10px;
        }
    
        /* .timeline ul li:nth-of-type(even)>div {
            left: -300px;
        }
    
        .timeline ul li:nth-of-type(odd)>div {
            left: 45px;
        } */
}

@media screen and (min-width:681px) and (max-width:768px) {

    .timeline ul li div time {
        top: -15px;
        justify-content: center;
    }

    .timeline ul li {
        height: 200px;
    }

    .timeline ul li div {
        width: calc(100vw - 450px);
        height: 150px;
        flex-direction: column;
    }

    .timeline ul li div div {
        width: calc(100vw - 480px);
        height: 120px;
        margin: 10px;
    }

    .timeline ul li:nth-of-type(even)>div {
        left: -340px;
    }

    .timeline ul li:nth-of-type(odd)>div {
        left: 45px;
    }
}

@media screen and (min-width:769px) and (max-width:860px) {

    .timeline ul li div time {
        top: -15px;
        justify-content: center;
    }

    .timeline ul li {
        height: 200px;
    }

    .timeline ul li div {
        width: calc(100vw - 480px);
        height: 150px;

    }

    .timeline ul li div div {
        width: calc(100vw - 460px);
        height: 120px;
        margin: 10px;
    }

        /* .timeline ul li:nth-of-type(even)>div {
            left: -380px;
        }
        */
} 

@media screen and (min-width:861px) and (max-width:960px) {

    .timeline ul li div time {
        top: -15px;
        justify-content: center;
    }

    .timeline ul li {
        height: 200px;
    }

    .timeline ul li div {
        width: calc(100vw - 530px);
        height: 150px;   
    }

    .timeline ul li div div {
        width: calc(100vw - 510px);
        height: 120px;
        margin: 10px;
    }
}

 @media screen and (min-width:961px) and (max-width:1024px){
        .timeline ul li div time {
                top: -15px;
                justify-content: center;
            }
        
            .timeline ul li {
                height: 200px;
            }
        
            .timeline ul li div {
                width: calc(100vw - 600px);
                height: 150px;
            }
        
            .timeline ul li div div {
                width: calc(100vw - 580px);
                height: 120px;
                margin: 10px;
            }                        
 }

  @media screen and (min-width:1025px) and (max-width:1150px){

    .timeline ul li {
            height: 200px;
        }
    
        .timeline ul li div {
            width: calc(100vw - 680px);
            height: 150px;
        }
    
        .timeline ul li div div {
            width: calc(100vw - 700px);
            height: 120px;
            margin: 10px;
        }
                .timeline ul li:nth-of-type(even)>div {
                    left: -500px;
                }

  }

   @media screen and (min-width:1151px) and (max-width:1281px) {

       .timeline ul li {
           height: 200px;
       }

       .timeline ul li div {
           width: calc(100vw - 700px);
           height: 150px;
       }

       .timeline ul li div div {
           width: calc(100vw - 720px);
           height: 120px;
           margin: 10px;
       }  

}

.btn-conteiner {
    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #960312;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;
    margin-bottom:40px
}

.btn-content {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover,
.btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
}

.icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
}

/* SVG */
#arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
}

#arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: var(--color-background);
    }

    100% {
        fill: white;
    }
}

/* Button animations */
@-webkit-keyframes btn-content {
    0% {
        outline: 0.2em solid var(--color-background);
        outline-offset: 0;
    }
}

@keyframes btn-content {
    0% {
        outline: 0.2em solid var(--color-background);
        outline-offset: 0;
    }
}

