.tableContainer{
    position :relative;
}
.tableRows{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tableRows td,
.tableRows th {
    /* border: 1px solid #ddd; */
    padding: 10px 20px;
}

.tableRows tr:nth-child(even) {
    background-color: rgb(9, 34, 133);;
}

.tableRows tr:hover {
   color: rgb(255,255,255);
    background-color:rgb(108, 0, 0) ;
}

.tableRows th:hover {
    background-color: rgb(0,2,35);
}

.tableRows th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:rgb(0, 2, 35);
    color: rgb(9, 34, 133);
   
}

 @media screen and (max-width:500px){

    .tableRows td,
        .tableRows th{
            font-size: 12px;
        }

 }