@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Lora:ital,wght@0,400;0,500;0,600;1,400&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&family=Roboto+Condensed:wght@300;400;700&family=Tektur:wght@400;500;600;700;800&display=swap');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 2, 35);
}

a {
  text-decoration: none;
  color: rgb(224, 226, 230);
}


a:active {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

div,
h1,
h2,
h3,
h4,
h5,
h6 p {
  color: aliceblue;
  text-decoration: none;
}